	<footer>
		<div class="row footer1">
			<div class="col-lg-12">
				<div class="col-lg-5 col-lg-offset-2"></br>
					<div class="row">
						<div class="col-md-1">
							<a href="http://www.twitter.com/A_Vauthey" target="_blank" class="linkFooterTwitter" >
								<div class="iconFooterTwitter"></div> 
							</a>
						</div>
						<div class="col-md-1">
							<a href="http://www.deezer.com/profile/698646131" target="_blank" class="linkFooterDeezer" >
								<div class="iconFooterDeezer"></div> 
							</a>
						</div>
						<div class="col-md-1">
							<a href="index.php?page=contact#menu" class="linkContact">
								<div class="iconContact"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
				</br>
					2017 - Antoine Vauthey</br>
					With love and whisky.
				</div>
			</div>
		</div>
	</footer>